body {
  background-color: #6e6c6c;
}

.container {
  border: 3px solid silver;
  padding: 2px solid silver;
  margin: 25px;
  text-align: center;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
