<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  </head>
  <body>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Type your task here...">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
      </div>
    </div>

    <ul class="list-group mb-4">
      <!--This the place for todos-->
    </ul>
  </body>
</html>
